[submodule "cpp-httplib"]
	path = third-party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "protozero"]
	path = third-party/protozero
	url = https://github.com/mapbox/protozero.git
